<%- include("./partials/head") %>
<h1>Mpage</h1>

<div class="wrapper">
    <% for (user of result){ %>
        <div class="person">
            <p>post</p>
            <% for (post of user.posts){ %>
                <h1><%= post.title %> <%= post.content %></h1>
                <h2><%= user.username %></h2>
            <% } %>
        </div>
    <% }%>
</div>


<%- include("./partials/footer") %>